@font-face {
  font-family: "iconfont"; /* Project id 3581179 */
  src: url('iconfont.woff2?t=1660193608827') format('woff2'),
       url('iconfont.woff?t=1660193608827') format('woff'),
       url('iconfont.ttf?t=1660193608827') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fengebiaoge:before {
  content: "\e63a";
}

.icon-zhinengsuanfa:before {
  content: "\e6c8";
}

.icon-gongchenghuitu:before {
  content: "\e607";
}

.icon-kecheng:before {
  content: "\e60a";
}

.icon-xuexiao:before {
  content: "\e62c";
}

.icon-tubiao:before {
  content: "\e606";
}

.icon-bim_donghua:before {
  content: "\e6e9";
}

.icon-liuchengtu:before {
  content: "\e628";
}

.icon-xiazai-wenjianxiazai-14:before {
  content: "\e856";
}

.icon-mapOfGaud:before {
  content: "\e62b";
}

.icon-changyonglogo45:before {
  content: "\e727";
}

.icon-csdn:before {
  content: "\e638";
}

.icon-github:before {
  content: "\e64c";
}

.icon-weibo:before {
  content: "\e666";
}

.icon-youxiang:before {
  content: "\e618";
}

.icon-baidu:before {
  content: "\e612";
}

.icon-shejiaotubiao-44:before {
  content: "\e648";
}

.icon-shejiaotubiao-46:before {
  content: "\e64b";
}

.icon-huawei:before {
  content: "\e610";
}

.icon-bilibili:before {
  content: "\e609";
}

.icon-gitee:before {
  content: "\e60c";
}

.icon-sousuo:before {
  content: "\e651";
}

